h1, h2, h3 {
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: royalblue;
}
table {
	border-collapse: collapse;
	border: 1px solid;
}
td {
	border-collapse: collapse;
	border: 1px solid;
}
thead {
	text-align: center;
	font-weight: 600;
}
#rbook {
	color: red;
}
.book-title {
	font-weight: 600;
}
.score {
	width: 300px;
}
.tbl-score {
	text-align: right;
}