.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

*.rds
*.log
*.ipynb
*.key

docs/*.md
docs/RN4E.tex

slides_keynote/
/*_files/
*_cache/

HTML/disqus.html
HTML/favicon.psd
HTML/header.html
Icon/
figures/**/*.key
figures/**/*.psd

# 不要データ
/_freeze/
data/Stations/
data/*.ods
data/HDI2019.xlsx
.quarto
/Icon*
/.quarto/

/.luarc.json

postBuild
apt.txt
runtime.txt