.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

*.html
*.rds

_book/*.md
_book/RN4E.tex

slide_keynote/
*_cache/
*_files/

HTML/disqus.html
HTML/favicon.psd
HTML/header.html
Icon/
figures/**/*.key